body{
	font-size: 1.1em;
	background-color: #9692FF;
	text-align: center;
}
#header{
	height: auto;
	width: 75%;
	padding-top: 20px;
	padding-bottom: 40px;
	margin: auto;
	border: 1px red solid;
	border-radius: 10px;
	box-shadow: 6px 8px 5px #090582;
	background-color: #3A6BB2;
}
h1 {
	font-size: 2em;
	color:	#acfe5e;
}
hr{
	width: 40%;
	height: 3px;
}
.entete{
	height: auto;
	margin: auto;
	max-width: 375px;
	padding: 5px;
	width: 50%;
	border-radius: 15px;
	font-family: cursive;
	background-color: #9FB25D;
	box-sizing: border-box;
}

dt{
	text-align: left;
  margin-left: 12%;
	margin-right: 30%;
	color: white;
	padding-left: 10px;
	font-style: italic;
}
dd{
	color: #60686f;
	text-align: right;
  margin-right: 10%;
	margin-left: 35%;
	padding-right: 10px;
}
/* Responsive adapt Medium Size*/
@media screen and (min-width: 500px) and (max-width: 800px){
	#header {
		background-color: gray;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	h1{
			font-size: 1.4em;
	}
  dt{
		margin-left: 5%;
		margin-right: 20%;
		color: blue;  /* detect media width change*/
		padding-left: 10px;
	}
	dd{
		color: #60686f;
		margin-right: 5%;
		margin-left: 20%;
	}
}
/* Responsive adapt Small Size*/
@media screen and (max-width: 499px) {
    body{
			font-size: .97em;
			}
		#header{
				padding-top: 1em;
				padding-bottom: 1em;
			}
		h1{
			font-size: 1.2em;
		}
		dt{
			margin-left: 5%;
			margin-right: 20%;
			color: yellow;  /* detect media width change*/
			padding-left: 10px;
		}
		dd{
			color: #60686f;
			margin-right: 5%;
			margin-left: 20%;
		}
}
