* {
	font-size: 1.1em;
}
body{
	/*background-image: url("../img/projBackGround2.jpg");*/
	background-color: #9692FF;
	text-align: center;
}
#header{
	height: 60px;
	width: 75%;
	padding-top: 20px;
	padding-bottom: 40px;
	margin: auto;
	border: 1px red solid;
	border-radius: 10px;
	box-shadow: 6px 8px 5px #090582;
	background-color: #3A6BB2;
}
.entete{
	height: auto;
	margin: auto;
	max-width: 375px;
	padding: 5px;

	width: 50%;
	border-radius: 15px;
	font-family: cursive;
	background-color: #9FB25D;
	box-sizing: border-box;
}
@media screen and (max-width: 900px)
{
  dt{
		text-align: left;
		margin-left: 25%;
		margin-right: 30%;
		color: blue;  /* detect media width change*/
		padding-left: 10px;
		font-style: italic;
	}
	dd{
		color: #60686f;
		text-align: right;
		margin-right: 22%;
		margin-left: 35%;
		padding-right: 10px;
	}
}
dt{
	text-align: left;
  margin-left: 15%;
	color: white;

	padding-left: 10px;
	font-style: italic;
}
dd{
	color: #60686f;
	text-align: right;
  margin-right: 10%;
	padding-right: 10px;
}
h1 {
	font-size: 2em;
	color:	#acfe5e;
}
